@using res = Minerva.Resources;

@{
    ViewBag.Title = res.Messages.PageNotFound;
}


<h1 class="text-danger">:(</h1>
<h1 class="text-danger">@res.Messages.code404Big</h1>
<h2 class="text-danger"></h2>
<p>@res.Messages.code404: @ViewBag.RequestedUrl</p>
@if (ViewBag.ReferrerUrl != null) {
<p>@res.Layout.GoBackTo <a href="@ViewBag.ReferrerUrl">@res.Layout.PreviousPage</a>.</p>
}

@* Error page must be longer than 512 bytes for IE and Chrome to show it. 
   So add padding in case we're short. *@
@(new string(' ', 512))