@using res = Minerva.Resources.Layout

<ul class="nav navbar-nav">
@if (Request.IsAuthenticated)
{
    <li>@Html.ActionLink(res.YourStorage, "Index", "Storage")</li>
    <li class="dropdown">
        <a class="dropdown-toggle"
           data-toggle="dropdown"
           href="#">
            @res.Shared
            <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li>@Html.ActionLink(res.SharedForYou, "ForYou", "Share")</li>
            <li>@Html.ActionLink(res.SharedByYou, "ByYou", "Share")</li>
        </ul>
    </li>
}
    <li>@Html.ActionLink(res.About, "About", "Home")</li>
</ul>
